html
    font-family: 'Roboto'
.tasks
    h1
        font-size: 2rem
        text-align: center
        font-family: 'Roboto'
footer
    background-color: $dark-grey

.btn-form
    font-family: 'Roboto'
    background-color: $principal
    color: #fff
    border-radius: 20px
.btn-form:hover
    background-color: #d3d3d3
    color: #212529

.form-group
    font-family: 'Roboto'
    form
        width: 100%
        max-width: 600px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    form input
        width: 90%
        height: 30px
        margin: 0.5rem
